@model DataLayer.Models.Hotels

<h3 class="nom">@Model.Nom</h3>
<p class="ville">@Model.Villes.name</p>
@*@Html.ActionLink("Voir les séjours", "Details", new { id = @Model.Item4, @class="id", controller = "Hotel" })*@
<a class="id" href="/Hotel/Details/@Model.IdHotel">Voir les séjours</a>