@model List<DataLayer.Models.Hotels>
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
@foreach (var hotel in Model)
{
    <div class="form-group-sm-4">
        @Html.Action("PartialSearchResult", "Search", new { nom=hotel.Nom, ville=hotel.Villes.name, photo=hotel.Photo, id = hotel.IdHotel})
        
    </div>
}
    
