@model List<DataLayer.Models.Hotels>
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
@foreach (var hotel in Model)
{
    <div class="form-group-sm-4">
        @Html.Action("PartialSearchResult", "Search", new { id = hotel.IdHotel})
        
    </div>
}
    
