@model List<Form115.Models.SearchResutPartialViewItem>
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
@foreach (var item in Model)
{
    <div class="form-group-sm-4">
        @Html.Action("PartialSearchResult", "Search", new { id = item.Hotel.IdHotel})
        
    </div>
}
    
