@model Form115.Models.BrowseViewModel
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@section scripts{
    <script src="~/Scripts/Browse/Index.js"></script>
}

<p id="BreadCrumb">Parcourir le catalogue >> Continents</p>

<p id="texteChoix">Choix du continent</p>
<ul id="listeChoix">
    @foreach (var continent in Model.ListeContinents)
    {
        <li><a class="Continents" href="#" id="@continent.Key">@continent.Value</a></li>
    }
</ul>
